<% include head.ejs %>

<header>

</header>

<body>
    <section class="hero is-dark">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hoe is het weer in elke stad?
                </h1>
            </div>
        </div>
        <div class="media-right">
            <div id="clock"></div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="post">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city_name" type="text" placeholder="Stad" required>
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Voeg stad toe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <% for (weather of weatherData) { %>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/<%= weather.icon %>.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title"><%= weather.city %></span>
                                        <br>
                                        <span class="subtitle"><%= weather.temperature %>°C</span>
                                        <br> <%= weather.description %>
                                    </p>
                                </div>
                            </div>
                            <form>
                                <div class="media-right">
                                    <button type="submit" name="button" class="image is-16x16" id="buttonBackground"></button>
                                </div>
                            </form>
                        </article>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p>Deze opdracht is gemaakt door?</p>
        <div id="changeText"></div>
        <button onclick="sendTheAJAX()" id="change">Kom er nu achter</button>
    </footer>
</body>

<% include tail.ejs %>